<div class="row">
  <div class="span6">
    <h1>The Anonymous Pool</h1>
    <p>Songs here are uploaded anonymously by anyone.</p>
    <%= render partial: 'songs/song', collection: @anonymous_songs %>
    <%= will_paginate @anonymous_songs %>
  </div>
</div>