<div class="hero-unit">
  <h1>stream.it</h1>
  <p>stream.it - the cloud based music player</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<p>Hi, it's Vince with S-s-s-s-st-st-st-stream-it-it-it-it-it-it (watch this)</p>
<p>Hi, it's Vince with stream.it</p>
<p>You're gonna be in a great mood all day</p>
<p>Cause you're gonna be streaming your troubles away with the stream app</p>
<p>Stream-streaming your troubles away with the stream app, now</p>
<p>Hi, it's Vince with stream.it</p>
<p>You're gonna be in a great mood all day</p>
<p>Cause you're gonna be streaming your troubles away with the stream app</p>
<p>Stream-streaming your troubles away with the stream app, now</p>
<p>Now look, here's a first song</p>
<p>One stream, you got sountrack for ad, two streams, playlist</p>