<div class="row">
  <h1>The Anonymous Pool</h1>
  <p>Songs here are uploaded by guests and non-logged in users.</p>
  <%= render @anonymous_songs %>
  <%= will_paginate @anonymous_songs %>
</div>