<div class="row">
  <h1>All Songs</h1>
  <p>
    Index of all songs visible to you. </br>
    <%= sortable "name", "Sort A-Z" %> ●
    <%= sortable "created_at", "Sort by upload date" %>
  </p>
  <%= render @songs %>
  <%= will_paginate @songs %>
</div>