<div class="row">
  <div class="span6">
    <h1>All Songs</h1>
    <p>From most to least recent. Only songs visible to you are shown here.</p>
    <%= render @songs %>
    <%= will_paginate @songs %>
  </div>
</div>