<h1>New Song</h1>

<div class="row">
  <div class="span4">
    <p>Guidelines for new songs:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>All songs must have a unique name.</li>
      <li>Audio is the URL to a video (YouTube).</li>
      <li>Public songs can be viewed by anyone. Private songs can only be viewed by you.</li>
      <li>Separate tags by commas.</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { song: @song } %>
  </div>
</div>