<h1>Edit Tag</h1>

<div class="row">
  <div class="span4">
    <p>Guidelines for new tags:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { tag: @tag } %>
  </div>
</div>